{% extends "layout.html" %}
{% block title %}Authorization Form{% endblock %}
{% block content %}
    <form id="email_form" action="form_input" method="post">
    <label>
        E-Mail Address:
        <input type="text" width="30" name="email"/>
    </label>
    <input type="submit"/>
    </form>
{% endblock %}