* {
    margin: 0;
    padding: 0;
}

html {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,184f7f+100 */
    background: #258dc8; /* Old browsers */
    background: -moz-linear-gradient(top, #258dc8 0%, #184f7f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #258dc8 0%,#184f7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #258dc8 0%,#184f7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#184f7f',GradientType=0 ); /* IE6-9 */

    height: 100%;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

#logo {
    margin: 10px;
}

#content {
    margin: auto;
    width: 90%;
}

#email_form {
    display: block;
    margin: auto;
    text-align: center;
}

#header_notice {
    display: block;
    float: right;
    border: 1px solid black;
    background: #b8e1fc;
    padding: 3px;
    margin: 10px;
    width: 30em;
}

.links_section {
    clear: both;
    width: 100%;
    padding-top: 2em;
}

.links_section h1 {
    display: inline;
    text-decoration: underline;
}

.links_section ul {
    list-style-type: none;
    padding-top: 8px;
}

.links_section li {
    float: left;
}

.links_section li a {
    display: block;
    padding: 8px;
    width: 15em;
    text-decoration: none;
    margin: 3px;
    color: black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
    background: #b8e1fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}

.links_section li a:hover {
    color: black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f4fe+0,e1effb+10,d8e7f6+25,d8e7f8+37,d8e8fa+50,cce1f6+51,dff2fb+83,e8fbfe+100 */
    background: #e6f4fe; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6f4fe 0%, #e1effb 10%, #d8e7f6 25%, #d8e7f8 37%, #d8e8fa 50%, #cce1f6 51%, #dff2fb 83%, #e8fbfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e6f4fe 0%,#e1effb 10%,#d8e7f6 25%,#d8e7f8 37%,#d8e8fa 50%,#cce1f6 51%,#dff2fb 83%,#e8fbfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e6f4fe 0%,#e1effb 10%,#d8e7f6 25%,#d8e7f8 37%,#d8e8fa 50%,#cce1f6 51%,#dff2fb 83%,#e8fbfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f4fe', endColorstr='#e8fbfe',GradientType=0 ); /* IE6-9 */
}

.links_section li a:active {
    color: black;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0767a7+0,145890+10,1d4a77+25,184a80+37,124b88+50,144372+51,106894+83,0592ab+100 */
    background: #0767a7; /* Old browsers */
    background: -moz-linear-gradient(top,  #0767a7 0%, #145890 10%, #1d4a77 25%, #184a80 37%, #124b88 50%, #144372 51%, #106894 83%, #0592ab 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0767a7 0%,#145890 10%,#1d4a77 25%,#184a80 37%,#124b88 50%,#144372 51%,#106894 83%,#0592ab 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0767a7 0%,#145890 10%,#1d4a77 25%,#184a80 37%,#124b88 50%,#144372 51%,#106894 83%,#0592ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0767a7', endColorstr='#0592ab',GradientType=0 ); /* IE6-9 */
}
