<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Baggy</title>
    <link rel="stylesheet" type="text/css" href="global.css">
</head>
<body>
    <div id="header">
        {% if conf.header_notice.is_defined %}
            <div id="header_notice">{{ conf.header_notice.value }}</div>
        {% endif %}
        {% if conf.logo.is_defined %}<img id="logo" src="logo"/>{% endif %}
    </div>
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
