{% extends "layout.html" %}
{% block title %}Links{% endblock %}
{% block content %}
{% if not links %}
    No links defined in configuration file.
{% endif %}
{% for section in links %}
    <div class="links_section">
        <h1>{{ section.section }}</h1>
        <ul>
        {% for link in section.links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}